.navbar-brand img {
    width: 35px;
}
.navbar-collapse {
    justify-content: space-between;
}

.btn {
    border: none;
    background-color: #48d9d9;
    border-radius: 40px;
}
.discount {
    color: #ffffff ;
    text-align: center;
    background-color: #cf4444;
    height: 40px;
    font-size: 13px;
}
.discount > span {
    font-size: 20px;
}
.jumbotron {
    background-color: #93bbcc;
    text-align: center;
    padding-left: 100px;
}
.jumbotron: {
    background-color: white;
}
.jumbotron > h1 {
    font-size: 50px;
}

.sl_slide img{
    width: 200px;
    padding-right: 20px;
    padding-top: 30px;
    